@{
    ViewBag.Title = "Dermapro - Blog";
    ViewBag.BodyAttributes = "class=''";
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();

}

<h1 class="hiddenHeader">Dermapro Blog</h1>

<div class="subslide">
     <div class="screen">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="@Url.Content("~/article")" class="item">
                            <div class="pic">
                              <img class="fordesktop" loading="lazy" src="@Url.Content("~/Content/images/care_1.jpg")"/>
                              <img class="formobile" loading="lazy" src="@Url.Content("~/Content/images/care_2.jpg")"/>
                            </div>
                           <div class="data">
                             <div class="container">
                                  <div class="info">
                                    <div class="holder">
                                        <h3 class="category">skincare</h3>
                                    </div>
                                    <h2 class="titre">Dermapro Introduces Its New Clinics, Detox & Wellness Center
                                      </h2>
                                   <div class="text">
                                       Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea

                                   </div>
                                      <div class="more">
                                          <div class="custbtn transparent">read more</div>
                                      </div>
                                 </div>
                              </div>
                          </div>
                        </a>
                    </li>
                        <li class="swiper-slide">
                        <a href="@Url.Content("~/article")" class="item">
                            <div class="pic">
                              <img class="fordesktop" loading="lazy" src="@Url.Content("~/Content/images/cure_1.jpg")"/>
                              <img class="formobile" loading="lazy" src="@Url.Content("~/Content/images/cure_2.jpg")"/>
                            </div>
                           <div class="data">
                             <div class="container">
                                  <div class="info">
                                    <div class="holder">
                                        <h3 class="category">skincare</h3>
                                    </div>
                                    <h2 class="titre">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h2>
                                   <div class="text">
                                       Lempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                   </div>
                                      <div class="more">
                                          <div class="custbtn transparent">read more</div>
                                      </div>
                                 </div>
                              </div>
                          </div>
                        </a>
                    </li>
                        <li class="swiper-slide">
                        <a href="@Url.Content("~/article")" class="item">
                            <div class="pic">
                              <img class="fordesktop" loading="lazy" src="@Url.Content("~/Content/images/model_1.jpg")"/>
                              <img class="formobile" loading="lazy" src="@Url.Content("~/Content/images/model_2.jpg")"/>
                            </div>
                           <div class="data">
                             <div class="container">
                                  <div class="info">
                                    <div class="holder">
                                        <h3 class="category">skincare</h3>
                                    </div>
                                    <h2 class="titre">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h2>
                                      <div class="more">
                                          <div class="custbtn transparent">read more</div>
                                      </div>
                                 </div>
                              </div>
                          </div>
                        </a>
                    </li>
           </ul>
         <div class="swiper-pagination"></div>
    </div>
</div>


<div class="secondmenu">
    <div class="screen">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><a class="link selected">all</a></li>
             <li class="swiper-slide"><a class="link">mind</a></li>
             <li class="swiper-slide"><a class="link">body</a></li>
             <li class="swiper-slide"><a class="link">nutrition</a></li>
             <li class="swiper-slide"><a class="link">skincare</a></li>
        </ul>
    </div>
</div>

<div class="Read">
    <div class="container">
        <ul class="cols">
            <li>
                <h4 class="titre">Trending</h4>
                <div class="featured">
                    <div class="screen wow">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <a href="@Url.Content("~/article")" class="item">
                                    <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/operation.jpg")" alt="news"/></div>
                                     <div class="info">
                                        <div class="hold">
                                            <div class="category">mind</div>
                                        </div>
                                        <h5 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Cente</h5>
                                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</div>
                                    </div>
                                    <div class="more">
                                        <div class="custbtn transparent">read more</div>
                                    </div>
                                </a>
                            </li>
                              <li class="swiper-slide">
                                <a href="@Url.Content("~/article")" class="item">
                                    <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/operation.jpg")" alt="news"/></div>
                                     <div class="info">
                                        <div class="hold">
                                            <div class="category">mind</div>
                                        </div>
                                        <h5 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Cente</h5>
                                        <div class="text">Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</div>
                                    </div>
                                    <div class="more">
                                        <div class="custbtn transparent">read more</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </li>
            <li>
                <h4 class="titre blue">What you missed this week</h4>
                <ul class="list">
                    <li class="wow">
                        <a href="@Url.Content("~/article")" class="article">
                            <ul class="grp">
                                <li><div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/news1.jpg")" alt="news"/></div></li>
                                <li>
                                    <div class="info">
                                        <div class="hold">
                                            <div class="category">mind</div>
                                        </div>
                                        <h5 class="name">Dermapro Launches Laboratoires De Biarritz’s Skin</h5>
                                        <div class="text">Dermapro has announced its exclusive distribution of Laboratoires de Biarritz major skin care product lines, Algamaris</div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </li>
                   <li class="wow">
                        <a  href="@Url.Content("~/article")" class="article">
                            <ul class="grp">
                                <li><div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/news2.jpg")" alt="news"/></div></li>
                                <li>
                                    <div class="info">
                                        <div class="hold">
                                            <div class="category">body</div>
                                        </div>
                                        <h5 class="name">Dermapro Launches Laboratoires De Biarritz’s Skin</h5>
                                        <div class="text">Dermapro has announced its exclusive distribution of Laboratoires de Biarritz major skin care product lines, Algamaris</div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </li>
                   <li class="wow">
                        <a href="@Url.Content("~/article")" class="article">
                            <ul class="grp">
                                <li><div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/news3.jpg")" alt="news"/></div></li>
                                <li>
                                    <div class="info">
                                        <div class="hold">
                                            <div class="category">nutrition</div>
                                        </div>
                                        <h5 class="name">Dermapro Launches Laboratoires De Biarritz’s Skin</h5>
                                        <div class="text">Dermapro has announced its exclusive distribution of Laboratoires de Biarritz major skin care product lines, Algamaris</div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </li>
                   <li class="wow">
                        <a href="@Url.Content("~/article")" class="article">
                            <ul class="grp">
                                <li><div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/news4.jpg")" alt="news"/></div></li>
                                <li>
                                    <div class="info">
                                        <div class="hold">
                                            <div class="category">skincare</div>
                                        </div>
                                        <h5 class="name">Dermapro Launches Laboratoires De Biarritz’s Skin</h5>
                                        <div class="text">Dermapro has announced its exclusive distribution of Laboratoires de Biarritz major skin care product lines, Algamaris</div>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>



<div class="articleList">
    <div class="container">
        <div class="wrap">
        <ul class="grid">
          <li class="wow">
              <a href="@Url.Content("~/article")" class="item">
                  <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/clinic1.jpg")" alt="news"/></div>
                  <div class="info">
                    <div class="hold">
                         <div class="category">skincare</div>
                     </div>
                      <h6 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h6>
                      <div class="text">Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </div>
                  </div>
                  <div class="more">
                      <div class="custbtn transparent">read more</div>
                  </div>
              </a>
          </li>
                      <li class="wow">
              <a href="@Url.Content("~/article")" class="item">
                  <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/clinic2.jpg")" alt="news"/></div>
                  <div class="info">
                    <div class="hold">
                         <div class="category">skincare</div>
                     </div>
                      <h6 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h6>
                      <div class="text">Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </div>
                  </div>
                  <div class="more">
                      <div class="custbtn transparent">read more</div>
                  </div>
              </a>
          </li>
                      <li class="wow">
              <a href="@Url.Content("~/article")" class="item">
                  <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/clinic3.jpg")" alt="news"/></div>
                  <div class="info">
                    <div class="hold">
                         <div class="category">skincare</div>
                     </div>
                      <h6 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h6>
                      <div class="text">Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </div>
                  </div>
                  <div class="more">
                      <div class="custbtn transparent">read more</div>
                  </div>
              </a>
          </li>
                      <li class="wow">
              <a href="@Url.Content("~/article")" class="item">
                  <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/clinic4.jpg")" alt="news"/></div>
                  <div class="info">
                    <div class="hold">
                         <div class="category">skincare</div>
                     </div>
                      <h6 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h6>
                      <div class="text">Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </div>
                  </div>
                  <div class="more">
                      <div class="custbtn transparent">read more</div>
                  </div>
              </a>
          </li>
                      <li class="wow">
              <a href="@Url.Content("~/article")" class="item">
                  <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/clinic5.jpg")" alt="news"/></div>
                  <div class="info">
                    <div class="hold">
                         <div class="category">skincare</div>
                     </div>
                      <h6 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h6>
                      <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </div>
                  </div>
                  <div class="more">
                      <div class="custbtn transparent">read more</div>
                  </div>
              </a>
          </li>
                      <li class="wow">
              <a href="@Url.Content("~/article")" class="item">
                  <div class="pic"> <img loading="lazy" src="@Url.Content("~/Content/images/clinic6.jpg")" alt="news"/></div>
                  <div class="info">
                    <div class="hold">
                         <div class="category">skincare</div>
                     </div>
                      <h6 class="name">Dermapro Introduces Its New Clinics, Detox & Wellness Center</h6>
                      <div class="text">Lorem ipsum dolor sit amet, consetetur elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </div>
                  </div>
                  <div class="more">
                      <div class="custbtn transparent">read more</div>
                  </div>
              </a>
          </li>
        </ul>
      </div>
    </div>
    
</div>