
<footer>
    <div class="container">
        <div class="wrap">
            <ul class="grp">
                <li>
                    <ul class="sitemap">
                        <li><a href="@Url.Content("~/about")" class="link">about</a></li>
                        <li><a href="@Url.Content("~/home")" class="link">LOCATIONS</a></li>
                        <li><a href="@Url.Content("~/book")" class="link">book a service</a></li>
                        <li><a name="dropdownmenu1" class="link">treatments</a></li>
                        @*<li><a href="@Url.Content("~/home")" class="link">d cafe</a></li>*@
                        <li><a href="@Url.Content("~/privacypolicy")" class="link">Privacy Policy</a></li>
                        <li><a href="@Url.Content("~/home")" class="link">shop</a></li>
                        <li><a href="@Url.Content("~/blog")" class="link">blog</a></li>
                        <li><a href="@Url.Content("~/cookiespolicy")" class="link">Cookies Policy</a></li>
                    </ul>
                    <ul class="media">
                        <li><a href="" class="item"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="" class="item"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="" class="item"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </li>
                <li>
                    <div class="newsletter">
                        <div class="caption">Subscribe & discover our latest wellness news</div>
                        <form>
                        <div class="field">  <!-- missing class on div field -->
                            <input placeholder="Your Email" class="custinput" />
                            <a data-target="#subscribePopup" data-toggle="modal" class="sendbtn"></a>
                        </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="isresponsive"></div>
</footer>
